---
- name: provision web server
  hosts: www
  remote_user: {{ your_username }} 
  gather_facts: true
  become: yes
  vars_files:
    - group_vars/all
    - group_vars/secrets

  roles:
    - common
    - nginx

