Host *
    SendEnv LANG LC_*
    HashKnownHosts yes
    GSSAPIAuthentication yes
    GSSAPIDelegateCredentials no
    IdentitiesOnly yes
    ForwardAgent yes
    KeepAlive yes
    ServerAliveInterval 300
